@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.load{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    color: (--color-primary-dark);
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
}