.container {
   background-color: var(--color-container-bg);
  border: 1px solid var(--color-container-border);
  border-radius: 20px;
  padding: 16px;
  margin: 10px auto;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.container:hover {
  box-shadow: 0 2px 6px var(--color-container-shadow);
}

.status {
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 6px;
}

.pending {
  color: #b08900;
}

.inProgress {
  color: #0047ab;
}

.delivered {
  color: #0a7b25;
}

.cancelled {
  color: #d00000;
}

.statusReadyForDelivery{
    color: green;
}

/* Exemplo para os nomes alternativos */
.emProducao {
  color: #ca6702;
}

.concluido {
  color: #2a9d8f;
}

.iniciado {
  color: #3a0ca3;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--color-title-text);
}

.info p {
  margin: 4px 0;
  font-size: 0.95rem;
  color: var(--color-info-text);
}

.button {
  background: var(--color-button-bg);
  color: var(--color-button-text);
  font-weight: 600;
  border: none;
  border-radius: 6px;
  padding: 9px 18px;
  cursor: pointer;
  transition: all 0.22s ease;
  margin-top: 12px;
  font-size: 0.9rem;
  display: flex;
}

.button:hover {
  background-color: var(--color-button-hover-bg);
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(64, 39, 39, 0.25);
}

.actions {
  display: flex;
  justify-content: end;
  margin: 10px 10px 10px 10px;
}
