.container{
    display: none;
    position: fixed;
    bottom: 64px;
    right: 32px;
    border-radius: 32px;
    width: 64px;
    height: 64px;
    align-items: center;
    justify-items: center;
    display: none;
    align-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    
}

@media (max-width: 800px) {
    .container {
     display: flex;
    }
  }
  