.divContainerCliente{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: fit-content;
}

.modalWarningFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}