.dev{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;          /* centraliza verticalmente */
    color: #D40000;
    font-size: 80px;
  font-weight: bold;
  text-align: center;
}

