.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #F2EBE9;
}

.painelBoasVindas {
  display: none;
  flex-grow: 4.5;
  position: relative;
  height: 100vh;
  background: linear-gradient(135deg, #652f17 0%, #402727 60%);
  background-blend-mode: overlay;
  box-shadow: 10px 0 30px -10px rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: #F2EBE9;
  text-align: left;
  padding: 2rem;
  overflow: hidden;
}

.WelcomeLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding-left: 5rem;
  position: relative;
  color: #F2EBE9;
  z-index: 1;
}

.painelLogin {
  background-color: #fffefe;
  flex-grow: 1;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #15141b;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .painelBoasVindas {
    display: flex;
  }

  .painelLogin .logotipo {
    display: none;
  }
}
