.headerWrapper {
  width: 100%;
  background: linear-gradient(
    180deg,
    #0F0C0B 0%,
    #1A1412 100%
  );
  padding: 14px 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.50);
}


.headerInner {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px; /* limite para onde o conteúdo pode esticar */
  padding: 0 16px;
  display: flex;
  flex-direction: column; /* TopBar / NavBar / ActionBar empilhados */
  gap: 12px;
  align-items: center; /* alinha horizontalmente ao centro */
  box-sizing: border-box;
}

.topBarArea,
.NavBarArea,
.actionBarArea {
  width: 100%;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center; /* por padrão, centraliza o conteúdo interno */
}

@media (max-width: 768px) {
  .NavBarArea {
    justify-content: flex-start; /* alinha o conteúdo interno à esquerda em telas pequenas */
  }
}
