.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.painelBoasVindas {
  display: none;
  background-color: blue;
  flex-grow: 2;
}

.painelLogin {
  background-color: red;
  flex-grow: 1;
  align-items: center;
  height: 100vh;
  padding: 2rem;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .painelBoasVindas {
    display: block;
  }

  .painelLogin .logotipo {
    display: none;
  }
}
