.container {
  background-color: var(--color-container-bg);
  border: 1px solid var(--color-container-border);
  border-radius: 32px;
  padding: 16px;
  margin: 10px auto;
  transition: all 0.3s ease;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.container:hover {
  background-color: var(--color-container-hover-bg);
  box-shadow: 0 2px 6px var(--color-container-shadow);
}

.title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--color-title-text);
  display: flex;
  text-align: left;
  flex-grow: 1;
  padding: 16px 16px 16px 32px;
  font-weight: bold;
}

.cardImage{
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 32px 32px;
}

.icon {
  font-weight: bold;
  margin-left: 8px;
  color: var(--color-icon-text);
}

.info {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-info-text);
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease;
  padding: 0px 0px 0px 32px;
}

.show {
  max-height: 500px;
  opacity: 1;
}

.button {
  background: var(--color-button-bg);
  color: var(--color-button-text);
  font-weight: 600;
  border: none;
  border-radius: 6px;
  padding: 9px 18px;
  cursor: pointer;
  transition: all 0.22s ease;
  margin-top: 12px;
  font-size: 0.9rem;
  display: flex;
}

.button:hover {
  background-color: var(--color-button-hover-bg);
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(64, 39, 39, 0.25);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.teste {
  display: flex;
  justify-content: end;
  margin: 10px 10px 10px 10px;
}

@media (max-width: 768px) {
  .container {
    width: calc(100% - 32px);
    max-width: none;
    margin: 10px 16px;
    border-radius: 12px;
  }
}
