.cancelButton{
  background: #DD0303;
  color: #ffffff;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  padding: 9px 18px;
  cursor: pointer;
  transition: all 0.22s ease;
  margin-top: 12px;
  font-size: 0.9rem;
}

.cancelButton:hover {
  background-color:  lightcoral;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px rgba(64, 39, 39, 0.25);
}